<h1 class="tag-edit-heading">Editing Tag</h1>

<%= render "form", tag: @tag %>

<br>

<div class="tag-edit-links">
  <%= link_to "Show this tag", @tag, class: "btn btn-show" %> |
  <%= link_to "Back to tags", tags_path, class: "btn btn-back" %>
</div>
